image: node:latest

variables:
  HEROKU_DEPLOY_STAGING: "nghashi-dev"
  HEROKU_DEPLOY_PROD: "nghashi-prod"

stages:
- build
- test
- deploy

build_frontend:
  stage: build
  script:
   - npm install -g @angular/cli --unsafe-perm
   - npm run-script install:frontend
   - npm run-script build:frontend:prod
  artifacts:
    paths:
    - frontend/dist/
  only:
  - master
  - next

build_backend:
  stage: build
  script:
   - npm install gulp-cli -g
   - npm run-script install:backend
   - npm run-script build:backend:prod
  artifacts:
    paths:
    - backend/dist/
  only:
  - master
  - next

#unit_tests_backend:
#  stage: test
#  script:
#   - npm install gulp-cli -g
#   - npm run-script install:backend
#   - cd backend/
#   - gulp run:tests:coverage
#
#acceptance_tests_backend:
#  stage: test
#  script:
#   - npm install gulp-cli -g
#   - npm run-script install:backend
#   - cd backend/
#   - gulp run:tests --acceptance

deploy_staging:
  type: deploy
  script:
  - mkdir heroku_deploy &&  cd heroku_deploy
  - cp ../backend/package.json ./
  - cp -R ../backend/dist/ ./dist/
  - cp -R ../backend/config/ ./config/
  - cp -R ../backend/_maps/ ./_maps/
  - cp -R ../frontend/dist/ ./dist_frontend/
  - git init
  - git config user.name "GitLab CI"
  - git config user.email "info@virtual-soft.de"
  - git add package.json dist/ dist_frontend/ config/ _maps/ -f
  - git commit -m "GitLab CI deployment from branch $CI_COMMIT_REF_NAME ($CI_COMMIT_SHA)"
  - git remote add heroku https://heroku:$HEROKU_API_KEY_STAGING@git.heroku.com/$HEROKU_DEPLOY_STAGING.git
  - git push heroku master --force
  only:
  - next
  environment:
    name: staging
    url: https://$HEROKU_DEPLOY_STAGING.herokuapp.com/

deploy_production:
  type: deploy
  script:
  - rm -r .git
  - git init
  - git config user.name "GitLab CI"
  - git config user.email "info@virtual-soft.de"
  - 'echo "{\"root\": \"dist/\", \"clean_urls\": true, \"routes\": { \"/**\": \"index.html\" }}" > ./static.json'
  - git add ./dist static.json -f
  - git commit -m "GitLab CI deployment from branch $CI_COMMIT_REF_NAME ($CI_COMMIT_SHA)"
  - git remote add heroku https://heroku:$HEROKU_API_KEY_PROD@git.heroku.com/$HEROKU_DEPLOY_PROD.git
  - git push heroku master --force
  only:
  - master
  environment:
    name: production
    url: https://$HEROKU_DEPLOY_PROD.herokuapp.com/
  when: manual
