<section id="game" [style.width.px]="gameWidth" [style.height.px]="gameHeight">
  <section class="titleBar">
    <h2 *ngIf="map">{{map.title}}</h2>
    <span class="timer" *ngIf="map">{{map.timer|timerformat}}</span>
  </section>

  <section class="statusBar">
    <div class="message" [innerText]="message"></div>
    <div class="actions">
      <button (click)="restart()">
        <i class="fa fa-repeat" aria-hidden="true"></i>
        Restart game
      </button>
      <button routerLink="/level_select">
        <i class="fa fa-list" aria-hidden="true"></i>
        Go to level selection
      </button>
    </div>
  </section>

  <div class="canvas-container" [hidden]="!map">
    <canvas #canvasBg id="background"></canvas>
    <canvas #canvasDraw
            id="draw"
            (click)="mouseClick($event)"
            (mousedown)="startBridgeDrawing($event)"
            (mouseup)="stopBridgeDrawing()"
            (mousemove)="duringBridgeDrawing($event)"
    ></canvas>
  </div>
  <div [hidden]="map">
    Loading...
  </div>
</section>
