<section [style.width.px]="gameWidth" [style.height.px]="gameHeight">
  <section>
    <button (click)="setTool('islands')" [disabled]="!setBridges">Islands</button>
    <button (click)="setTool('bridges')" [disabled]="setBridges">Bridges</button>
    <button routerLink="/level_select">Go to level selection</button>
  </section>
  <section>
    <div *ngIf="valid" class="valid">Puzzle is valid.</div>
    <div *ngIf="!valid" class="invalid">Puzzle is invalid.</div>
  </section>
  <div class="canvas-container">
    <canvas #canvasBg id="background"></canvas>
    <canvas #canvasDraw
            id="draw"
            (click)="mouseClick($event)"
            (mousedown)="startBridgeDrawing($event)"
            (mouseup)="stopBridgeDrawing()"
            (mousemove)="duringBridgeDrawing($event)"
    ></canvas>
  </div>
</section>
