<section>
  <h2>What is Hashi?</h2>
  <p>
    Hashi is a Japanese puzzle game where you have to connect islands with bridges.<br />
    Simply draw the line between two islands with your mouse. Click a connection to remove it.
  </p>
  <ul>
    <li>each side of an island can take 2 bridges at its maximum</li>
    <li>Bridges must not cross other bridges or islands</li>
    <li>the number of bridges incident on an island matches that island's number</li>
    <li>at the end all islands are connected</li>
  </ul>

  <h2>Please select a level <a routerLink="/editor">or create your own Hashi puzzle</a></h2>
  <ul class="grid">
    <li class="grid_item {{level.isSolved() ? 'solved' : 'new'}}" *ngFor="let level of levels; let i = index">
      <a routerLink="/play/{{i+1}}" class="grid_link">
        <div class="tile">{{level.title}}</div>
      </a>
    </li>
  </ul>
</section>
