canvas {
  position: absolute;
  left: 0;
  top: 0;
}

canvas#background {
  z-index: 0;
  background-color: white;
}

canvas#draw {
  z-index: 1;
  border: 1px solid #d3d3d3;
}

.canvas-container {
  position: relative;
}

section.titleBar {
  justify-content: space-between;
}

section.titleBar,
section.statusBar {
  display: flex;
}

section.statusBar div.message {
  flex: 0.5 0 0;
}
section.statusBar div.actions {
  flex: 1 0 0;
  text-align: right;
}
